body{
	background:lightgray;
}

.ContentMain{
	display:block;
	max-width:800px;
	margin:5% auto;
	background:white;
	height: 600px;
    box-shadow: 0 0 16px #565656;
}

.score{
	width:100%;
	height:50px;
	border-bottom:2px solid lightgray;
	text-align:center;
	line-height: 50px;
    font-size: 20px;
    font-family: "Open Sans";
}

.boxContainer {
    margin: 80px auto;
    max-width: 300px;
}

.boxC2{
    float: right;
    box-shadow: 0 0 16px #464646;
    border-radius: 5px;
    overflow: hidden;
}

.box{
    height: 50px;
    width: 175px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-family: "Open Sans";
    box-shadow: 0 0 16px #464646;
    border-radius: 5px;
}

.box:hover {
    background: #ECECEC;
    cursor:pointer;
}

.upgrade {
	height: 50px;
    width: 75px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-family: "Open Sans";
}

.upgrade:hover {
    background: #ECECEC;
    cursor:pointer;
}

.automate {
    background: #00C4FF;
    height: 50px;
    width: 25px;
    float: left;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}